<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <form action="/members/new" method="post">
        <div class=""form-group>
           <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요"></input>
        </div>
        <button type="submit">등록</button>
    </form>
</div>


<div id="header">
    <div id="wrapper">
      <div id="content">
        <div>
            <h3>
               <label for="id">아이디</label>
            </h3>
            <span class="box int_id">
                <input type="text" id="id" class="int" maxlength="20">
                <span class="step_url">@naver.com</span>
            </span>
            <span class="error_next_box"></span>
        </div>
      </div>
    </div>
</div>



</body>
</html>